* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-family: "Space Mono", monospace;
    font-family: "Work Sans", sans-serif;
}

body {
    background-color: #2B2B2B;
}

.container {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 16px;
}

.head {
    padding: 20px 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.head__navlist {
    display: flex;
    gap: 40px;
    align-items: center;
}

.head__navitem {
    color: #fff;
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 22.4px;
    text-align: center;
    cursor: pointer;
    transition: 0.1s;
}



.head__navbtn {
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: center;
    width: 152px;
    height: 60px;
    background-color: #A259FF;
    border-radius: 20px;
    color: #fff;
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 22.4px;
    cursor: pointer;
    transition: 0.1s;
}



.head__navbtn:active {
    transform: scale(0.96);
}

.hero {
    background-image: url(./images/hero-bg-img.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
    height: 320px;
}

.information-section {
    padding-bottom: 40px;
}

.line {
    width: 100%;
    border: 1px solid #3B3B3B;
    display: block;
}

.information__img {
    position: relative;
    top: -60px;
}

.information__btn-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.information-title {
    color: #fff;
    font-family: Work Sans;
    font-size: 51px;
    font-weight: 600;
    line-height: 56.1px;
}

.information__copy-btn {
    width: 186px;
    height: 60px;
    background-color: #A259FF;
    border-radius: 20px;
    font-family: Work Sans;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    line-height: 22.4px;
    text-align: center;
    display: flex;
    align-items: center;
    gap: 12px;
    justify-content: center;
    cursor: pointer;
    transition: 0.1s;
}

.information__copy-btn:active {
    transform: scale(0.96);
}


.information__add-btn {
    width: 145px;
    height: 60px;
    background-color: transparent;
    border: 2px solid #A259FF;
    display: flex;
    align-items: center;
    gap: 12px;
    justify-content: center;
    cursor: pointer;
    font-family: Work Sans;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    line-height: 22.4px;
    text-align: center;
    border-radius: 20px;
    transition: 0.1s;
}

.information__add-btn:active {
    transform: scale(0.96);
}


.information__btn-wrap {
    display: flex;
    gap: 20px;
    align-items: center;
}

.information__users-wrapper {
    margin-top: 30px;
    display: flex;
    gap: 20px;
    align-items: center;
}

.information__users-title {
    color: #fff;
    font-family: Space Mono;
    font-size: 28px;
    font-weight: 700;
    line-height: 39.2px;
}

.information__users-text {
    color: #fff;
    font-family: Work Sans;
    font-size: 22px;
    font-weight: 400;
    line-height: 35.2px;
}

.information__bio-box {
    margin-top: 30px;
}

.information__bio-title {
    color: #858584;
    font-family: Space Mono;
    font-size: 22px;
    font-weight: 700;
    line-height: 35.2px;
}

.information__bio-text {
    color: #fff;
    font-family: Work Sans;
    font-size: 22px;
    font-weight: 400;
    line-height: 35.2px;
}

.information__links-wrapper {
    margin-top: 30px;
}

.information__links-title {
    color: #858584;
    font-family: Space Mono;
    font-size: 22px;
    font-weight: 700;
    line-height: 35.2px;
    margin-bottom: 10px;
}

.information__links-icon-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
}

.navbar-section {
    padding-top: 24px;
}

.navbar__list {
    display: flex;
    gap: 247px;
    justify-content: center;
}

.navbar__item-line {
    align-items: center;
    display: flex;
    justify-content: center;
    color: #fff;
    font-family: Work Sans;
    font-size: 22px;
    font-weight: 600;
    line-height: 30.8px;
    margin-bottom: 14px;
}

.navbar__item {
    display: flex;
    justify-content: center;
    color: #858584;
    font-family: Work Sans;
    font-size: 22px;
    font-weight: 600;
    line-height: 30.8px;
}

.nft__card {
    max-width: 330px;
    background-color: #2B2B2B;
    border-radius: 20px;
}

.nft__wrap {
    padding: 20px 30px;
}

.nft-section {
    padding: 80px 0 80px 0;
    background-color: #3B3B3B;
}

.nft__card-title {
    color: #fff;
    font-family: Work Sans;
    font-size: 22px;
    font-weight: 600;
    line-height: 30.8px;
    margin-bottom: 5px;
}

.nft__box {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 27px;
}

.nft__box-text {
    color: #fff;
    font-family: Space Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
}

.nft__price-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nft__price-chest-left {
    text-align: left;
}

.nft__price-chest-rigth {
    text-align: right;
}

.nft__price-chest-text {
    color: #858584;
    font-family: Space Mono;
    font-size: 12px;
    font-weight: 400;
    line-height: 13.2px;
    margin-bottom: 8px;
}

.nft__price-chest-subtext {
    color: #FFFFFF;
    font-family: Space Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
}

.nft__wrapper {
    padding-top: 30px;
    display: flex;
    align-items: center;
    gap: 30px;
}

.footer-line {
    width: 100%;
    border-top: 2px solid #2B2B2B;
    display: block;
}

.footer-section {
    padding: 40px 0 30px 0;
    background-color: #3B3B3B;
}

.footer__left-title {
    max-width: 238px;
    color: #CCCCCC;
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.footer__left-text {
    color: #CCCCCC;
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    margin-bottom: 15px;
}

.footer {
    display: flex;
    justify-content: space-between;
}

.footer__title {
    margin-bottom: 25px;
    color: #fff;
    font-family: Space Mono;
    font-size: 22px;
    font-weight: 700;
    line-height: 35.2px;
}

.footer__item {
    margin-bottom: 20px;
    color: #CCCCCC;
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
}

.footer__text {
    max-width: 330px;
    color: #CCCCCC;
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
}

.footer__input {
    width: 240px;
    height: 60px;
    background-color: #fff;
    border-radius: 20px;
    color: #2B2B2B;
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    padding-left: 28px;
}

.footer__form {
    margin-top: 20px;
}

.footer__input::placeholder {
    color: #2B2B2B;
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
}

.footer__btn {
    position: relative;
    right: 35px;
    width: 179px;
    height: 60px;
    border-radius: 20px;
    background-color: #A259FF;
    font-family: Work Sans;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    line-height: 22.4px;
}

.nev-menu {
    width: 50px;
    height: 50px;
    background-color: transparent;
    display: none;
}

@media only screen and (max-width: 1025px) {
    
    .information__img {
        left: 20px;
    }

    .head__navlist {
        display: none;
    }

    .nev-menu {
        display: block;
    }

    .hero {
        background-image: url(./images/hero-bg-table.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 100%;
    }

    .information-title {
        font-size: 38px;
    }

    .information__copy-btn {
        width: 186px;
        font-size: 16px;
    }

    .information__add-btn {
        width: 145px;
        font-size: 16px;
    }

    .information__users-title {
        font-size: 28px;
    }

    .information__btn-wrapper {
        flex-wrap: wrap;
    }

    .information__btn-wrap {
        margin-top: 30px;
    }

    .navbar__list {
        gap: 171px;
    }

    .nft__wrapper {
        flex-wrap: wrap;
    }

    .nft__card {
        margin-bottom: 30px;
    }

    .footer {
        flex-direction: column;
    }

    .footer__list {
        margin-top: 30px;
        margin-bottom: 30px;
    }
    
    .information__bio-text {
        font-size: 16px;
    }
}

@media only screen and (max-width: 805px) {
    .hero {
        background-image: url(./images/bg-img.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 100%;
    }

    .information__img {
        left: 150px;
    }

    .navbar__list {
        gap: 46px;
    }

    .information__img {
        left: 110px;
    }

    .footer__btn {
        display: none;
    }

}